@import "~scss/mixin.scss";

.button {
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    
    @include softUiDark(true);
}
