.image {
    display: flex;
    flex-direction: row;
    
    .img {
        display: inline-block;
        height: 40px;
        width: auto;
    }
    
    .imageName {
        margin-left: 20px;
    }
}

.directory {
    
    .directoryRow {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        
        .icon {
            height: 20px;
            width: 20px;
            //background: #ef5b0a;
        }
        
        .directoryName {
            margin-left: 5px;
            font-size: 14px;
        }
    }
    
    .child {
        padding-left: 16px;
    }
}
